{{!-- <div class="info-window-container"> --}}
  {{!-- <a target='new' href='javascript:window.top.niagara.env.hyperlink("{{ord}}");'>{{displayName}}</a> --}}
{{!-- <h4>{{title}}</h4> --}}
{{#if imageSrc}}
<img src={{imageSrc}} width='100' height='100'alt="">
{{/if}}
{{#if description}}
<p>{{description}}</p>
{{/if}}

  {{!-- <tr>
    <th>{{name}}</th>
    <th>{{display}}</th>
  </tr>   --}}
  
  <div>
   <h5 style="display: inline;">Total alarms: {{alarmCount}}</h5>
  </div>
   
<div class="info-window-props-container">
{{#if rows}}
    {{#each rows}}
    {{!-- <tr> --}}
      <div class="info-window-props-child">
        <h5>{{displayName}}</h5>
        {{!-- <div class="break"></div> --}}
       <span> {{value}}</span>
       {{#if alarm}}
       <span class="alarm-text"> alarm</span>
       {{/if}}
      </div>
      
    {{!-- </tr> --}}
    {{/each}}
  {{/if}}
</div>
<br />
<br />
{{!-- </div> --}}